img {
    width: 160vh;
    border: 5px solid black;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.footer .card-body{
    margin-top: 50px;
    background-color: #006B54; 
    margin: 0;
}
.footer .card h5{
    color: white;
}
.footer .card-body p{
    color: white;
}

