.jumbotron{
    margin-top: 50px;
    background-color: #006B54;
    color: white; 
}

/* changes to footer*/
.footer{
    margin-top: 50px;
}

.footer .card-body{
    background-color: #006B54; 
}

.footer .card h5{
    color: white;
}
.footer .card-body p{
    color: white;
}

.card-footer{
    background-color: #003B2E
}

.card-body{
    outline-color: #003B2E;
    outline-style: solid;
    outline-width: 2px;
}

.carousel-inner{
    border-radius: 15%;
    object-fit: scale-down;
}

.navbar{
    background-color: #003B2E;
    color: white;
}

/* wanted to have 2 distinct outlines around card body and card image. */
.card-img-top{
    outline-color: #003B2E;
    outline-style: solid;
    outline-width: 2px;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #003B2E;
}

.row{
    color: #28a745;
    text-align: center;
}

.carousel-inner img{
    height: 60vh;    
}







